<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="p-sm-16" bgcolor="#008DF6" width="100%" style="padding: 32px;">
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col p-sm-16" align="center" width="100%" style="padding: 32px; border: 1px solid #FFFFFF; color: #FFFFFF;">
            <div style="font-size: 13px; text-transform: uppercase;">Thanks for signing up!<br>Enjoy</div>
            <div style="font-size: 72px; font-weight: 700; line-height: 100%;">$10 OFF</div>
            <div class="spacer" style="line-height: 16px;">&nbsp;</div>
            <div style="font-size: 20px; letter-spacing: 2px; line-height: 100%; text-transform: uppercase;">Your first order</div>
            <div class="spacer" style="line-height: 32px;">&nbsp;</div>
            <table bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" role="presentation">
              <tr>
                <th>
                  <a href="http://thememountain.com" style="border: 0 solid #FFFFFF; color: #008DF6; display: inline-block; font-size: 13px; padding: 8px 32px; text-decoration: none;">SHOP NOW</a>
                </th>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
