<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="spacer" height="32"></td>
  </tr>
  <tr>
    <td style="padding: 0 24px;">
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col pb-sm-16" width="260" style="padding: 0 8px;">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td class="p-sm-16" align="center" bgcolor="#000000" style="color: #FFFFFF; line-height: normal; padding: 24px;">
                  <div style="font-size: 34px;">1,556 Houses</div>
                  <div style="font-size: 13px;">SINCE JANUARY '13</div>
                </td>
              </tr>
            </table>
          </td>
          <td class="col" width="260" style="padding: 0 8px;">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td class="p-sm-16" align="center" bgcolor="#000000" style="color: #FFFFFF; line-height: normal; padding: 24px;">
                  <div style="font-size: 34px;">643 Clients</div>
                  <div style="font-size: 13px;">SINCE AUGUST '10</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="spacer" height="32"></td>
  </tr>
</table>
